.burger_constructor {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 600px;
  height: 100vh;
  padding-bottom: 20px;
  overflow-y: scroll;
  color: var(--text-primary-color);
}

.burger_constructor::-webkit-scrollbar {
  width: 8px;
}

.burger_constructor::-webkit-scrollbar-thumb {
  background: #4c4cff;
}

.burger_constructor::-webkit-scrollbar-track {
  background: #4c4cff;
}

.custom_image img {
  rotate: 180deg;
}

.flex_grow_0 {
  flex-grow: 0;
}

.total_price {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  max-width: 536px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 8px;
}
