.ingredient {
  position: relative;
  text-align: center;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}

.price {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
