.burger_ingredients {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  color: var(--text-primary-color);
  font-family: 'Jet Brains Mono', serif;
}

.menu {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.flex {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.scroll_y {
  height: 100vh;
  overflow-y: scroll;
}

.scroll_y::-webkit-scrollbar {
  width: 8px;
}

.scroll_y::-webkit-scrollbar-thumb {
  background: #4c4cff;
}

.scroll_y::-webkit-scrollbar-track {
  background: #4c4cff;
}

.popup_flex {
  display: flex;
  justify-content: center;
  gap: 20px;
}
